
{block content}
<div id="banner">
	<h1 n:block=title>Congratulations!</h1>
</div>

<div id="content">
  <a n:href="Idea:create">Have An Idea? </a>
<h1> Latest Ideas</h1>

    <div n:foreach="$ideas as $idea" class="idea well">
 

     <h2> {$idea->title}</h2>
    <div>  {$idea->description} </div>
   <br>
   <br>

    <a n:href="Idea:show $idea->id"> View More </a>

    </div>


</div>
{/block}

